html {
	background-color:blue;
	background-image:url("http://www.oocities.org/viet_guy56/sfz_ryu08.gif");
	background-repeat:no-repeat;
	background-position: center top; 
	
}
p {
	line-height:5px;
	font-weight:underline;
	color:blue;
	font-style:oblique;
}
header {
}
nav {
	border-style:groove;
	border-width:15px;
	background-color:white;
