/*
1.	font-family:Georgia, sans-serif;
2.	background-color:#000000;
3.	background-image:url("http://i.imgur.com/avu3JfU.gif");
4.	color:red;
5.	text-decoration: underline solid black;
6.	font-size:25px;
7.	font-weight: bold;
8.	letter-spacing: normal;
9.	line-height: 50px
10.	text-shadow:1px 1px 1px #ff0000;
11.	overflow:auto;
12.	padding-bottom:30px
13.	border-style:groove;
14.	border-width:8px;
15.	border-color:white;
16.	border: 2px solid black;
17.	width: 30px;
18.	text-align:left;
19.	border-top: 5px solid black;
20.
*/	
html {
		font-family:Georgia, sans-serif;
		background-color:#000000;
		background-image:url("http://i.imgur.com/avu3JfU.gif");
		
}
h1 {
		color:red;
		text-decoration: underline solid black;
		
}
h2 {
		font-family: "Times New Roman", Times, serif;
		font-size:25px;
		font-weight: bold;
		color:#553300;
		letter-spacing: normal;
		letter-spacing: 10px;
		line-height: 50px
		
}
p1 {
		font-family: "Times New Roman", Times, serif;
		color:#3366ff;
		text-shadow:1px 1px 1px #ff0000;
		line-height:130px
		overflow:auto;
}
p2 {
		color:yellow;
		padding-bottom:30px
		
}
br {
		color:blue;	
}
body {
		background-color:#33cccc;
		border-style:groove;
		border-width:8px;
		border-color:white;
}
table, th, td {
   	border: 2px solid black;
	width: 30px;
	text-shadow:2px 2px 2px red;
	text-align:left;
	border-top: 5px solid black;
	font-style:oblique;
}



